{% extends "base.html" %} {% block content %}

<div class="main">
  <div class="title">
    <h3>Sentiment Analysis on imdb</h3>
    <!-- <p>
      <small>A web app demo</small>
    </p> -->
  </div>

  <div class="container">
    <form id="frm">
      
  
      
      <textarea id="subject" name="subject" placeholder="Write something.." style="height: 194px; margin: 0px; width: 319px;"></textarea>
      <center>
      <div style="margin-bottom: 2rem;">
      <input type="button" value="Submit" class="button" onclick="sub();">
      <input type="button" value="Clear" class="button" onclick="clean();">
    </div>
           

    
      
  </center></form></div>
    


  <p id="demo" class="hidden"></p>


</div>

{% endblock %}
